<div class="container container-group container-margin-top-100">
  <form class="form-signin-heading" [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
    <input type="text" class="cityName" formControlName="forecastCity" placeholder="Nazwa miasta">
    <button class="btn">Znajdź</button>
  </form>
  <div class="wrapper">
    <div class="form-control" *ngFor="let weather of forecast; let i = index;">
      <div  *ngIf="i < 1">
        <h1 class="city">{{weather.cityName}}</h1>
      </div>
      <div class="day">
        <h2 class="date">{{weather.date | date: 'M/d/yy'}}</h2>
        <img width="100" src="http://openweathermap.org/img/w/{{weather.img}}.png">
        <h3 class="tempM">{{weather.temp}}&deg;</h3>
        <h2 class="description">{{weather.description}}</h2>
      </div>
    </div>
  </div>
</div>