
  .form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .form-control {
    text-align:center;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  
  input[type="text"] {
    width: 300px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 1px;
    outline: none;
  }
  input[type="text"]:focus {
    background-color: rgb(124, 120, 120);
  }
