<div class="container container-group container-margin-top-100">
  <form class="form-signin-heading" (ngSubmit)=onSubmit(f) #f="ngForm">
    <input type="text" class="cityName" name="city" ngModel #city="ngModel" placeholder="Nazwa miasta">
    <button class="btn" name="button">Znajdź</button>
  </form>
  <div class="form-control" *ngIf="exist > 0">
    <h2 class="city">{{weather?.cityName}}</h2>
    <h1 class="temperature">{{weather?.temp}}&deg;C</h1>
    <h4 class="description">{{weather?.type}}</h4>
    <img width="100" src="http://openweathermap.org/img/w/{{weather?.img}}.png">
    <div>
      <div class="into temp">
        <h4 class="tempMax tempM">Temperatura min: {{weather?.tempMin}}&deg;C</h4>
        <h4 class="tempMin tempM">Temperatura max: {{weather?.tempMax}}&deg;C</h4>
      </div>
    </div>
  </div>
</div>