#navigation{
    background-color: rgb(42, 48, 40);
}

.container{
    width: auto;
    margin-top: 20;
    padding: 10px;
    background-color: rgb(44, 71, 97);
    
}

#navbarSupportedContent{
    width: auto;
    height: 80px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(176, 174, 209);

}
.nav-link{
    text-decoration: none;
    float: left;
    min-width: 50px;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    opacity: 0.8;
    
}
.nav-link:hover{
    background-color: rgb(72, 80, 126);


}

.navbar-brand{
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 30px;
    color: white;
}

.navbar-brand:hover{
    color: #ffffff;

}

.navbar-brand:visited{
    color: rgb(255, 255, 255);

}

a:link{
    color: blue;

}

a:visited{
    color: rgb(255, 255, 255);

}

a:hover{
    color: rgb(24, 24, 26);

}


