body {
    background: #40728b;
    margin: 0px auto;
    padding: 0px;
    color: rgb(168, 238, 186);
    font-family: 'Open Sans', sans-serif;
}
.container-group{
    background: #f8f9fa !important;
    color: rgb(68, 108, 128);
    padding: 50px 10px 50px 10px;
}

.container-margin-top-100{
    margin-top: 100px;
}
.container-margin-top-20{
    margin-top: 20px;
}